.content-container {
    background-color: white;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main>* {
    margin: 15px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#store-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#game-stats {
    font-family: 'Courier Prime', monospace;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 600px;
    margin: 15px;
}

#game-stats span {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#game-stats div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#game-stats p {
    margin: 0px;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202129;
    padding: 10px;
    margin: 15px 30px 15px 30px;
    border-radius: 25px;
}

.game-row {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
}

.game-square {
    background-color: #202129;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    min-height: 60px;
}

.game-square:hover {
    background-color: #232432;
    border-radius: 10px;
    cursor: pointer;
}

.game-char {
    color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -8px -8px -16px -8px;
    font-family: 'Courier Prime', monospace;
    font-size: 45px;
    width: 0px;
    height: 0px;
}

.click-div {
    position: absolute;
    height: 45px;
    width: 45px;
}

#shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 100%;
}

#shop-nav {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}

#shop-nav button {
    margin: 10px;
    border: none;
    font-family: 'Courier Prime', monospace;
}

#shop-nav p {
    width: 40%;
    text-align: left;
    margin: 0px;
}

#store-btns {
    position: absolute;
    align-self: flex-end;
    top: 600px;
}

#store-btns button {
    font-family: 'Courier Prime', monospace;
}

#shop-pages>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

/* store items styling */

.shop-item:hover {
    background-color: #dddddd;
    cursor: pointer;
}


.item-name {
    padding: 10px;
    margin: 0px;
}

.shop-item {
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.item-price-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-price-info p {
    margin: 0px;
}

.item-qty-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-qty-info p {
    margin: 0px;
}

.item-return {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    padding: 10px;
}

.item-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    padding: 10px;
}

.plant-lps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    padding: 10px;
}

.plant-qty-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    padding: 10px;
}

.upgrade-item-info p {
    margin: 0px;
}

.upgrade-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100px;
}

.upgrade-description {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 300px;
    margin: 0px;
}