.content-container {
    background-color: white;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 500px 0px 500px;
}

header {
    display: flex;
    justify-content: space-evenly;
}

header span {
    text-align: center;
}

#game {
    width: 500px;
    height: 500px;
}

.game-row {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
}

.game-square {
    background-color: #202129;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 65px;
    min-height: 65px;
}

.game-square:hover {
    background-color: #222331;
    cursor: pointer;
}

.game-char {
    color: #555555;
    font-family: 'Courier Prime', monospace;
    font-size: 40px;
    width: 20px;
    height: 30px;
}

#shop {
    width: 500px;
}

.shop-item {
    display: flex;
    flex-direction: row;
}

.shop-item-info {
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    padding: 10px;
}

.shop-item-info p {
    margin: 0px;
}

.shop-item-info:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.plant-qty {
    background-color: #cccccc;
    padding: 10px;
}

.shop-item p {
    font-family: 'Courier Prime', monospace;
}