main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 00px 300px 300px 300px;
}

header {
    display: flex;
    justify-content: space-evenly;
}

header span {
    text-align: center;
}

#game {
    width: 500px;
    height: 500px;
}

.game-row {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
}

.game-square {
    background-color: #202129;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #212230 1px;
    min-width: 65px;
    min-height: 65px;
}

.game-square:hover {
    background-color: #222331;
    cursor: pointer;
}

.game-char {
    color: white;
    font-family: 'Courier Prime', monospace;
}

#shop {
    width: 500px;
}

.shop-item {
    background-color: #303030;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop-item:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.shop-item p {
    font-family: 'Courier Prime', monospace;
    margin: 12px;
}