.content-container {
    background-color: #232323;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 847px;
}

main article {
    width: fit-content;
    background-color: #b4b4b4;
}


main span {
    display: flex;
    flex-direction: row;
}

saves-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.save-span {
    display: flex;
    flex-direction: row;
    background-color: #d4d4d4;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    border-radius: 25px;
    justify-content: space-between;
    min-width: 600px;
    margin: 10px;
}

.save-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.save-details span {
    display: flex;
    justify-content: start;
    margin: 0px;
}

.save-details a {
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;
    background-color: #202129;
    font-size: 18px;
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.save-details p {
    margin: 2px;
}

.lb-user-title a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lb-user-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lb-user-title p {
    margin: 2px 2px -2px 2px;
}

.user-garden {
    background-color: #202129;
    padding: 8px;
    border-radius: 15px;
}

.user-garden p {
    font-family: 'Courier Prime', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    margin: 0px;
}

.garden-row {
    width: fit-content;
    margin: 0px;
}

#lb-page-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Courier Prime', monospace;
    margin: 25px;
}


#lb-page-controls p {
    margin: 0px;
}

.button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}