.content-container {
    background-color: #232323;
    min-height: 947px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#user-card {
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    height: 500px;
    padding-top: 35px;
    border-radius: 0px 0px 0px 50px;
}

#user-img {
    height: 250px;
    width: 250px;
    border-radius: 125px;
}

.uc-username {
    display: flex;
    flex-direction: row;
    background-color: #202129;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding: 3px 6px 3px 10px;
    border-radius: 10px;
    margin: 15px;
}

.uc-username p {
    margin: 0px;
}

#view-user-xp {
    font-size: 12px;
    margin: 2px;
}

.uc-info {
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
    width: 100%;
    border-radius: 10px;
}

.uc-info-span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.uc-info p {
    margin: 5px;
}

/* 4 game save area */

#game-squares {
    display: grid;
    gap:10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 500px;
    width: 500px;
    background-color: #dddddd;
    padding: 30px;
    border-radius: 0px 0px 50px 0px;
}

.save-box {
    background-color: #212029;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 5px 5px 10px 5px;
}

.garden-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    height: 23px;
    font-family: 'Courier New', Courier, monospace;
}

.garden-row p {
    height: 10px;
    width: 10px;
}