{% extends 'base.html' %}
{% block title %}GardenGame | Leaderboards{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/leaderboards.css">
{% endblock %}
{% block body %}
<main>
    {% for save in scores %}
    <span>
        <article>
            <p>{{ save.user.username }}</p>
            <p>{{ save.current_currency }} leaves</p>
            <p>{{ save.leaves_per_second }} leaves per second</p>
            <p>last login: {{ save.last_login }}</p>
        </article>
        <div class="user-garden">
            <table>
                {% set squareData = save.map_data %}

                {% set grid = {} %}

                {% for item in squareData.split(',') if item %}
                {% set cords, value = item.split('w') %}
                {% set row, col = cords[:1] | int, cords[1:] | int %}
                {% set _ = grid.update({(row, col): value}) %}
                {% endfor %}

                {% set rows = 9 %}
                {% set cols = 9 %}

                {% for row in range(rows) %}
                <span class="garden-row">
                    {% for col in range(cols) %}
                    {% set cord = (row, col) %}
                    {% if cord in grid %}
                    <p>{{ grid[cord] | default('.') }}</p>
                    {% else %}
                    <p>.</p>
                    {% endif %}
                    {% endfor %}
                </span>
                {% endfor %}


            </table>
        </div>
    </span>
    {% endfor %}
</main>
{% endblock %}