{% extends 'base.html' %}
{% block title %}GardenGame | Login{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/user.css">
{% endblock %}
{% block body %}
<main>
    <aside>
        <article id="user-card">
            <img id="user-img" src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png"
                style="background-color:#{{ view_user.color }}">
            <hr style="border-top:3px solid #aaaaaa; width:100%;">
            <section class="uc-username">
                <p style="color:#{{ view_user.color }}">{{ view_user.username }}</p>
                <p style="color:gold" id='view-user-xp'>{{ view_user.experience }}</p>
            </section>
            <section class="uc-info">
                <span class="uc-info-span">
                    <p style="
                    font-family: 'Josefin Sans', sans-serif;">Total Leaves</p>
                    <p style="font-family: 'Courier Prime', monospace;">{{ view_user.total_leaves_earned }}</p>
                </span>
                <span class="uc-info-span">
                    <p style="
                    font-family: 'Josefin Sans', sans-serif;">Gems</p>
                    <p style="font-family: 'Courier Prime', monospace;">{{ view_user.gems }}</p>
                </span>
            </section>
        </article>
    </aside>
    <section>
        <article>

        </article>
        <article>

        </article>
    </section>
</main>
{% endblock %}