{% extends 'base.html' %}
{% block title %}GardenGame | Login{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/user.css">
{% endblock %}
{% block body %}
<main>
    <aside>
        <article id="user-card">
            <img id="user-img" src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png"
                style="background-color:#{{ view_user.color }}">
            <hr style="border-top:3px solid #aaaaaa; width:100%;">
            <p class="uc-username" style="color:#{{ view_user.color }}">{{ view_user.username }}</p>
            <span>
                <p>{{ view_user.experience }}</p>
                <p>{{ view_user.total_leaves_earned }}</p>
                <p>{{ view_user.gems }}</p>
            </span>
        </article>
    </aside>
    <section>
        <article>

        </article>
        <article>

        </article>
    </section>
</main>
{% endblock %}