{% extends 'base.html' %}
{% block title %}GardenGame | Login{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/user.css">
{% endblock %}
{% block body %}
<main>
    <aside>
        <article id="user-card">
            <img id="user-img" src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png"
                style="background-color:#{{ view_user.color }}">
            <hr style="border-top:3px solid #aaaaaa; width:100%;">
            <section class="uc-username">
                <p style="color:#{{ view_user.color }}">{{ view_user.username }}</p>
                <p style="color:gold" id='view-user-xp'>{{ view_user.experience }}</p>
            </section>
            <section class="uc-info">
                <span class="uc-info-span">
                    <p style="
                    font-family: 'Josefin Sans', sans-serif;">Total Leaves</p>
                    <p style="font-family: 'Courier Prime', monospace;">{{ view_user.total_leaves_earned }}</p>
                </span>
                <span class="uc-info-span">
                    <p style="`
                    font-family: 'Josefin Sans', sans-serif;">Gems</p>
                    <p style="font-family: 'Courier Prime', monospace;">{{ view_user.gems }}</p>
                </span>
            </section>
        </article>
    </aside>
    <section>
        <article id="game-squares">
            {% if user_saves %}
                {% for save in range(0,4) %}
                    {% if save < user_saves|length %}
                        {% set squareData = user_saves[save].map_data %}
                        {% set grid = {} %}
                        {% set rows = 9 %}
                        {% set cols = 9 %}

                        {% for item in squareData.split(',') if item %}
                            {% set cords, value = item.split('w') %}
                            {% set row, col = cords[:1] | int, cords[1:] | int %}
                            {% set _ = grid.update({(row, col): value}) %}
                        {% endfor %}

                        <div class="save-box">
                            <table>
                                {% for row in range(rows) %}
                                    <span class="garden-row">
                                        {% for col in range(cols) %}
                                            {% set cord = (row, col) %}
                                            {% if cord in grid %}
                                                {% set plant_index = grid[cord] | int - 1 %}
                                                {% if plant_index < 0 %}
                                                    <p style="color:#313149;">.</p>
                                                {% elif plant_index < 17 %}
                                                    <p style="color:#{{ base_plants[plant_index - 17].color }}; font-weight:bold; font-size:25px;">
                                                        {{ base_plants[plant_index - 17].name[0] }}</p>
                                                {% else %}
                                                    {% set upgrade_index = plant_index - 17 %}
                                                    {% if upgrade_index >= 0 and upgrade_index < upgrades|length %}
                                                        <p style="color:#{{ upgrades[upgrade_index].color }}; font-weight:bold; font-size:25px;">
                                                            {{ upgrades[upgrade_index].name[0] }}</p>
                                                    {% else %}
                                                        <p style="color:red;">Upgrade not found at index {{ upgrade_index }}</p>
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                <p style="color:#313149;">.</p>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                {% endfor %}
                            </table>
                        </div>
                    {% else %}
                        <div class="save-box" style="background-color:#bcbcbc;">
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </article>
    </section>
</main>
{% endblock %}